/* .color__title {
    margin-top: 2rem;
} */

.sidebar__title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.sidebar__label__container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 0.7rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar__label__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(182 132 97);
    border-radius: 50%;
}

.all {
    background: linear-gradient(blue, crimson);
}

.sidebar__label__container:hover ~ .checkmark {
    background-color: #ccc;
}

.sidebar__label__container input:hover ~ .checkmark {
    background-color: rgb(182 132 97);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar__label__container input:checked ~ .checkmark::after {
    display: block;
}

.sidebar__label__container .checkmark::after {
    top: 6.4px;
    left: 6.4px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: white;
}